<config type="oracle" default-env="dev"> <!--types are oracle, mssql -->
    <db env="dev" connString="Data Source=;user id=; password=;"/>
    <db env="test" connString="Data Source=;user id=; password=;"/>
    <db env="cons" connString="Data Source=;user id=; password=;"/>
    <db env="production" connString="Data Source=;user id=; password=;"/>
</config>