<config>
    <db type="local" connString="Data Source=;user id=sop; password=;"/>
	<db type="test" connString="Data Source=;user id=sop; password=;"/>
	<db type="cons" connString="Data Source=;user id=sop; password=;"/>
	<db type="production" connString="Data Source=;user id=sop; password=;"/>
</config>